.tg-newsnuova a:not([class*="tg-element-"]),
.tg-newsnuova a:not([class*="tg-element-"]):active,
.tg-newsnuova a:not([class*="tg-element-"]):focus,
.tg-newsnuova [class*="tg-element-"] *:not(del) {
	margin: 0;
	padding: 0;
	color: inherit !important;
	text-align: inherit;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.tg-newsnuova [class*="tg-element-"],
.tg-newsnuova .tg-item-overlay,
.tg-newsnuova .tg-center-outer,
.tg-newsnuova .tg-center-inner > * {
	vertical-align: middle;
}
.tg-newsnuova .tg-item-inner {
	background-color: #f2f1f1;
	padding: 8px;
}
.tg-newsnuova .tg-item-media-holder {
	border-color: #f2f1f1;
}
.tg-newsnuova .tg-item-content-holder[data-position="bottom"] {
	background-color: #f2f1f1 !important;
	position: relative;
	min-height: 1px;
	display: block;
	margin: 16px 0 0;
}
.tg-newsnuova .tg-element-1 {
	position: relative;
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	background-color: #f2f1f1;
	display: block;
	margin: 0;
	padding: 8px 16px 16px;
}
.tg-newsnuova .tg-element-2 {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
}
.tg-newsnuova .tg-element-3 {
	position: relative;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	display: block;
	margin: 0;
	padding: 16px;
}
.tg-newsnuova .tg-element-7 {
	position: relative;
	clear: left;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.7px;
	display: inline-block;
	float: right;
	padding: 0 0 8px;
}
.tg-newsnuova .tg-element-4 {
	position: relative;
	clear: both;
	font-size: 13px;
	line-height: 14px;
	font-weight: 400;
	display: inline-block;
	float: right;
}
.tg-newsnuova .tg-element-4 .to-heart-icon {
	position: relative;
	display: inline-block;
	float: right;
	margin: 0 0 0 6px;
}
.tg-newsnuova .tg-element-4 .to-heart-icon svg {
	height: 16px;
	width: 18px;
}

.mk-love-holder .mk-love-count,
.sp-love-number {
	padding-left: 8px !important;
	font-size: 12px !important;
	color: #898989 !important;
}

.sp-svg-icon {
	fill: #898989 !important;
}

