/*
Theme Name:     UniSR Custom Theme
Theme URI: 	    http://www.ricasoliconsulting.com
Description:    Custom Theme for UniSR Blog 
Author:         Simone Pozzobon
Theme URI: 	    http://www.ricasoliconsulting.com
Template:       jupiter
Version:        1.0
*/

/* LAYOUT FIX */
.mk-main-wrapper-holder {
    margin-top: -40px;
}

p {
    /* text-align: justify !important; */
}

*, html, body, p, a {
     -ms-word-break: normal !important;
         word-break: normal !important;

     // Non standard for webkit
         word-break: normal !important;

     -webkit-hyphens: none !important;
        -moz-hyphens: none !important;
             hyphens: none !important;
}

#theme-page {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    #theme-page {
        margin-top: 5px !important;
        padding-top: 32px !important;
    }
}

.header-logo img {
    max-width: 90% !important;
}

.master-holder strong {
    color: inherit !important;
}


/* HEADER SOCIAL + SEARCH */

#rc-widget-navigation {
    position: absolute;
    top: 0;
    right: 0;
    top: 16px;
    width: 320px;
    z-index: 2;
}

.rc-widget-item {
    float: left;
}

.rc-widget {
    margin-top: 19px
}

.rc-widget a {
    margin-right: 16px;
}

.main-nav-side-search {
    margin: 0 !important;
}

.header-logo a img {
    height: 100% !important;
}


/* NAV */
.header-style-2 .mk-header-nav-container {
    border-top: 5px solid #661d28;
}

.mk-header-inner,
.a-sticky .mk-header-inner,
.header-style-2.a-sticky .mk-classic-nav-bg {
    border-bottom: 2px solid #404040;
}

.main-navigation-ul > li.menu-item > a.menu-item-link {
    color: #444444;
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px !important;
    padding-left: 20px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-navigation-ul > li.menu-item + li.menu-item:before {
    content: " | ";
    padding: 0 0px;
}

@media only screen and (max-width: 1140px) {
    #rc-widget-navigation {
        display: none;
    }
}



/* HOME TITLE */

.home-title {
    margin-bottom: 0 !important;
    color: #777 !important;
}

.rc-main-content {
    border-left: 1px solid #4f4f4f !important;
    border-right: 1px solid #4f4f4f !important;
}

.rc-news-right .tg-grid-holder article {
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    .rc-main-content {
        border: none !important;
    }
}


/* FOOTER */

#mk-footer .widgettitle {
    font-family: "Crete Round";
    font-size: 1.2em;
}

/* MAIN ARTCILE SECTION */
.rc-post-wrapper {}

.rc-post-title {
    text-align: center;
    font-size: 24px !important;
    margin-bottom: 32px !important;
}

.rc-post-image {
    margin-bottom: 32px;
}

.rc-post-content {
    text-align: justify;
}

.rc-post-date {
    margin-bottom: 32px;
    font-size: 1em;
}

.rc-meta {
    margin-left: 16px;
}

.rc-post-share {
    margin-right: 4px;
}

.rc-post-comment a svg {
    margin: 0 6px 0 0;
    fill: #898989;
    position: relative;
    top: 4px;
}

.rc-comment-holder,
.rc-post-love .mk-love-holder {
    margin-top: -4px;
}

.rc-post-comment a:active,
.rc-post-comment a:link,
.rc-post-comment a:visited {
    color: #898989 !important;
}

.rc-post-love .mk-love-holder .mk-love-this .mk-love-count {
    font-size: inherit !important;
}

.rc-line-sep {
    height: 1px;
    width: 80%;
    margin: 0 10% 32px 10% !important;
    padding: 0 !important;
    background-color: #404040;
}

.rc-line-sep.last {
    margin-top: 32px !important;
}

.rc-right {
    float: right;
}

.rc-clear {
    clear: both;
}

/* NEWS SECTION */

.tg-item-line-break {
    background-color: #f2f1f1 !important;
    border-bottom: 1px solid #404040;
    opacity: 1 !important;
    width: 50% !important;
    height: 1px !important;
    margin-left: 25% !important;
}

.tagcloud a,
.widget_tag_cloud a {
    font-size: 1.2em !important;
    border-radius: 4px;
}

.widget_tag_cloud .widgettitle {
    display: none;
}


/* ARCHIVE SECTION */

.rc-archive-item {
    margin-bottom: 64px !important;
}

.rc-archive-title {
    text-align: center;
    font-size: 24px !important;
    margin-bottom: 32px;
    padding: 0 16px;
}

.rc-archive-share {
    margin-right: 5px;
}

.rc-archive-love a svg {
    margin: 0 6px 0 0;
}

.rc-archive-love a span,
.rc-archive-comment a span {
    font-size: 12px !important;
}

.rc-archive-comment .blog-loop-comments span {
    display: inline !important;
}

.rc-archive-comment a svg {
    margin: 0 6px 0 0;
    position: relative;
    top: 4px;
}

.rc-readmore {
    float: left;
    margin: 32px 0;
}

/* Comments */

.bypostauthor > .mk-single-comment .comment-content:after {
    background-color: #f1f2f2 !important;
    border: none !important;
}

.mk-commentlist li .comment-content {
    background-color: #f1f2f2 !important;
}

.bypostauthor > .mk-single-comment .comment-content {
    border: none !important;
}

/* SHARE BUTTONS */

.blog-social-share {
  position: absolute;
  background-color: #404040 !important;
  margin: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 15px 10px;
  display: none;
}

.blog-social-share:before {
  background-color: #404040 !important;
}

.mk-blog-modern-item .mk-love-holder .mk-love-count {
    display: inherit !important;
}

.mk-blog-modern-item .blog-loop-comments,
.mk-blog-modern-item .mk-blog-share,
.mk-blog-modern-item .mk-love-holder {
    padding: 0 !important;
}


/* DISABLE COMMENTS */

.blog-modern-comment,
.blog-loop-comments {
    display: none !important;
}


/* FIX SLIDER */

.flex-direction-nav {
    display: none;
}

.vc_images_carousel {
    width: auto !important;
}


/* FIX TWITTER POST */

.twitter-tweet {
    width: auto !important;
    min-width: 50px !important;
}