/*
Description:    Custom Login page Style 
Author:         Simone Pozzobon
Theme URI: 		http://simonepozzobon.com
Version:        1.0
*/


body.login {
  background-color: #661d28;
}

#login {
  width: 40% !important;
  min-width: 320px !important;
  padding: 2% 0;
}

.login form {
  margin-top: 32px !important;
  padding: 32px 32px 32px !important;
  background: #fff;
}

.login h1 a {
  background-image: url('/wp-content/uploads/2016/09/login-logo.svg');
  height: 150px;
  width: 150px;
  background-size:cover;
}

.login label {
  font-size: 1.2em;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.login input[type="text"],
.login input[type="password"] {
  background-color: #f2f2f2;
  border: 0;
  margin-top: 16px;
  margin-bottom: 32px;
  height: 48px;
  box-shadow: none !important;
}

.login .button-primary {
  background-color:#a6a6a6 !important;
  color: #f2f2f2;
  width: 80px;
  margin-top: -3px;
  float: right;
  border: 0 !important;
  border-radius: 0 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover,
.login .button-primary:hover {
  background-color:#898989 !important;
  color: #f2f2f2;
  border: 0 !important;
}

.login .button-primary:active {
  background-color:#595959 !important;
  border: 0 !important;
  color: #f2f2f2;
}

#nav {
  display: none;
}

#backtoblog a:active,
#backtoblog a:link,
#backtoblog a:visited {
  color: #f2f2f2 !important;
}

#backtoblog a:hover {
  color: #595959 !important;
}